

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
nav{
  background-color: #fb57fb;
  min-height: 2rem;
  max-height: 112rem;
}

nav div{
  float:right;
  margin: -10px 50px;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}
nav ul{
  width: 35rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li { margin: 10px 15px;}

nav ul li a{
  padding: 10px 15px;
}

nav ul li a{text-decoration: none;}
nav ul li :hover{
  background-color:#ffff;
  color: #000;
  border-radius: 3px;
  transition: all 1s;
}


@media screen and (max-width: 564px){
  nav div{display:block;}

  .list{display:none;}
  .list_stime{
    display: block;
  }
  nav ul li{
    text-align: center;
    /*margin-bottom:1.5rem;*/
  }
}